<ion-tabs>
  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="desktop"></ion-icon>
      <ion-label>Panel</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="status" href="/tabs/status">
      <ion-icon aria-hidden="true" name="options"></ion-icon>
      <ion-label>Estado</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="construct"></ion-icon>
      <ion-label>Configuraciones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
